{
    "app_name": "<application_name>",
    "app_memory": "<app_memory>",
    "app_disk": "<app_disk>",
    "artifact_path": "<artifact_path>",
    "build_number": "<build_number>",
    "timeout": "<timeout>",
    "instances": "<instances>",
    "services": ["<service_1>", "<service_2>"],
    "username": "<username>",
    "password": "<password>",
    "space": "<space_name>",
    "buildpack": "<buildpack>",
    "organization": "<organization_name>",
    "api_endpoint": "<system_domain>",
    "external_app_hostname": "<hostname_for_the_app>",
    "internal_app_domain": "<internal_domain_for_local_testing>",
    "external_app_domain": "<shared_external_domain_for_end_users>",
    "push_options": "<pcf_options>"
}


